*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 96px;
    
    
}
section{
    padding: 32px 9%;

}
header{
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    background: white;
    padding: 32px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 8px 16px rgba(0,0,0,1);
}
header .logo{
    font-size: 35px;
    color: #DE5D83;
    font-weight: bolder;
    
    
}
header .logo span{
    color:var(--pink);
}
header .navbar a{
    font-size: 17px;
    padding: 20px;
    color: black;
    
}
header .navbar a:hover{
    color: #DE5D83;
}

.aboutme{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/background.jpeg);
    background-size: cover;
    background-position: center;
}

    
.aboutme .content{
    max-width: 800px;
}
.aboutme .content h3{
    font-size: 90px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aboutme .content h4{
    font-size: 60px;
    color: #ffe5d9;
}
.aboutme .content h6{
    font-size: 30px;
    color: #999;
}
.heading{    
    text-align: center;
    font-size: 50px;    
    color: #333;
    padding: 40px;    
    margin: 100px;
    background-color: #ffe5d9;
    text-decoration: underline;
}
.heading span{    
    color: #DE5D83;
    }
.details .row{
    display: flex;
    align-items: center;    gap: 32px;
    flex-wrap: wrap;    padding: 32px 0;
    padding-bottom: 58px;
}
.details .row img{
    height: auto;
    width: 280px;
}
.details .row .content{
    flex: 16 16 640px;

}
.details .row .content h3{
    font-size: 30px;
    color: #c78e89;
    line-height: 3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.details .row .content h6{
    font-size: 14px;
    color: #999;
    padding: 5px;
    line-height: 1.0;
    
    
}
.details .row .content h6{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
    display: inline-block;
    margin-top: 16px;
    border-radius: 60px;
    background: #DE5D83;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #ffe5d9;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 5px #a94064, 0 0 25px #a94064;
}

.btn :hover{
    box-shadow: 0 0 5px #a94064, 0 0 25px #a94064,0 0 50px #a94064,0 0 100px #a94064,0 0 200px #a94064,;
}
/* education section */

.education .heading{
    font-size: 64px;
}
#education {
    margin-top: 20px;
  }
  
.education h2 {
    font-size: 24px;
    color: #333;
  }
.img{
    height: auto;
    width: 150px;
    text-align: left;
    flex: 16 16 640px;
}
.education-item{
    margin: 10px;
    text-align: center;
  }
  
.education-item h3{
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
  }
  
.education-item p{
    font-size: 18px;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  
.graduation-year{
    color: #999;
  }
  .myexperience{
    width: 100%;
    padding: 100px 0px;
  }
.title .heading{
    font-size: 50px;
 }
.title{
    margin-top: 20px;
  }
  .box1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    
  }
  .card1{
    height: 400px;
    width: 300px;
    padding: 20px 35px;
    background: #eadbdd;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
    border: 3px solid #a94064;
  }
  .card2{
    height: 400px;
    width: 300px;
    padding: 20px 35px;
    background: #eadbdd;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
    border: 3px solid #a94064;
  }
  .card1 img{
    font-size: 30px;
    display: block;
    text-align: center;
    margin: -40px 0px;
  }
  .card2 img{
    font-size: 30px;
    display: block;
    text-align: center;
    margin: -40px 0px;
  }
 .box1 h4{
    color: #c78e89;
    font-size: 17px;
    margin-bottom: 15px;
    display: inline-flex;
 }
 .box1 h3{
    font-size: 15px;
    line-height: 20px;
    margin: 10px;
 }
 .box1 .card2 h3{
    font-size: 15px;
    line-height: 20px;
    margin: 30px;
 }

 /* best moments section */

 #bestmoment{
    width: 100%;
    padding: 70px 0;

}

.picture-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}


.picture1{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 5px;
    color: white;
    position: relative;
    text-align: center;
    flex-direction: row;
    
}
.picture1 img{
    width: 90%;
    height: 90%;
    border-radius: 7px;
    
}
.overlay{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#f3c4ce);
    opacity: 0;
    transition: 1s;
    left: 5%;
}  
.picture1:hover .overlay{
    opacity: 1;

}
.picture-desc{
    width: 90%;
    position: absolute;
    bottom: 70%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
    font-size: 22px;
}
hr{
    background: whitesmoke;
    height: 3px;
    margin: 15px auto;
    width: 60%;
    
}
.picture-desc p{
    font-size: 20px;
   
}
.picture1:hover .picture-desc{
    bottom: 10%;
    opacity: 1;
}

#Photo .container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
#photo.container .heading h3{
    font-size: 15px;
    font-weight: bolder;
    
}
.container .heading h3 span{
    font-weight: 100;
}
.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.container .box .dream{
    display: flex;
    flex-direction: column;
    width:100%;
}
.container .box .dream img{
    width: 100%;
    padding-bottom: 5px;
}



/* skills section*/

.heading .skill{
    margin: 40px auto;
    color: #E18AAA;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    list-style: none;
    position: relative;
    width: 30%;
    padding: 30px 60px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    
}

.skill h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skill h3{
    margin: 3px;
    font-size: 20px;
    
}
.skill li{
   
    justify-content: center;
    align-items: center;
    color: #666;
    width: 50%;
    margin: auto;
    
}
.bar{
    background: #d4caa3;
    display: block;
    height: 18px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubid-bezier(.25, .8, .25, 1);
    overflow: hidden;
    
    
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 17px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.canva{
    width: 90%;
    animation: Canva 3s;
}
.adobeexpress{
    width: 30%;
    animation: Adobe Express 3s;
}
.kittl{
    width: 30%;
    animation: Kittl 3s;
}
.picsart{
    width: 70%;
    animation: Picarts 3s;
}
.Others h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5% 0 0 5%;
}
.Others li{
   
    left: 70%;
    color: #666;
    width: 50%;
    margin: auto;
}
.Others .malay{
    width: 100%;
    animation: Canva 3s;
}
.Others .english{
    width: 50%;
    animation: Adobe Express 3s;
}
.Others .arabic{
    width: 30%;
    animation: Kittl 3s;
}
/*Contact section */
#section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, #a94064 0%, #a94064 30%, #c78e89 30%, #c78e89 10%);
    
}



.contactme{
    position: relative;
    width: 100%;
    padding: 30px 100px;
}
.contactme .title h2{
    color: #666;
    font-weight: 500;

}
.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;
}
.contact{
    padding: 10px;
    background: white;
    box-shadow: 10px 20px 10px rga(0,0,0,0.15);
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    grid-gap: 10px;
    margin-top: 10px;
}
.contact h3{
    color: #a94064;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'popins', sans-serif;
}

/* form */
.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50{
    display: flex;
    gap: 20px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}
.formBox .row100 .inputBox{
    width: 100%;
}
.inputBox span{
    color: #666;
    max-width: 2px;
    margin-bottom: 5px;
    font-weight: 50px;
    font-size: 15px;
    font-weight: bold;
}
.inputBox input{
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid black;
}
.inputBox textarea{
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid black;
    resize: none;
    min-height: 22px;
    margin-bottom: 10px;
}
.inputBox input[type="submit"]{
    background: #666;
    color : white;
    border: none;
    font-size: 15px;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.inputBox :placeholder{
    color: #DE5D83;
}

/* info */
.info{
    background: white;
}
.info h3{
    color: #a94064;
}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: white;
    background: #E18AAA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p{
    color: #666;
    font-size: 15px;
    font-family: 'popins', sans-serif;
}
.info .infoBox div a{
    color: #666;
    text-decoration: none;
    font-size: 15px;
    font-family: 'popins', sans-serif;
    text-transform: lowercase;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    color: #333;
    font-size: 20px;
    color: #666;
}
.sci li a:hover{
    color: #DE5D83;
}
.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
}
/* footer section */

footer {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
 }
 
 footer p {
    font-size: 16px;
    color: #333;
    margin: 0;
    font-family: 'Raleway', sans-serif;
 }











/*media queries */
@media (max-width:600px){
    html{
        font-size: 10px;
        scroll-behavior: smooth;
        scroll-padding-top: 96px;
        overflow: hidden;
    }

    header{
        padding: 32px;
    }
}

#contact{
    box-sizing: border-box;
    background: linear-gradient(90deg, #e1ab99 0%, #e1ab99 30%, #f3d6cb 30%, #f3d6cb 100%); 
 }
 .contactme{
    padding: 20px;
 }
 .box{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form info" "form map";
    position: relative;
    display: grid;
 }
 
 .map{
    padding: 0;
    min-height: 300px;
 }

